In [1]:
import pandas as pd
import numpy as np

# Example DataFrame with random values
df = pd.DataFrame(np.random.randint(1, 100, size=(201, 1145)))

# Calculate the difference between columns
df_diff = df.diff(axis=1)

# Show first 5 rows of the difference DataFrame
print(df_diff.head())

   0     1     2     3     4     5     6     7     8     9     ...  1135  \
0   NaN   -29    27   -32    -4    10    17   -60    15     8  ...    -7
1   NaN   -23   -14    10     4   -44    33    -8    32    17  ...     5
2   NaN    29   -38    50   -51   -19    73   -37   -35    59  ...     1
3   NaN    25   -36     7    45   -41   -18    12    47     2  ...   -45
4   NaN   -11    50   -43    30    34   -10   -45    17    48  ...   -89

   1136  1137  1138  1139  1140  1141  1142  1143  1144
0    45    22   -64    32    25   -47    22    16   -23
1   -43    45   -35    13   -14     1    37   -34   -28
2     2   -78    76   -84    22    40   -11   -35    26
3    37    -5    18   -33   -24    12    53   -35    -9
4    79   -23    -2   -27   -26    18    62   -64    55

[5 rows x 1145 columns]

In [2]:
df

,0,1,2,3,4,5,6,7,8,9,...,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144
0,77,48,75,43,39,49,66,6,21,29,...,18,63,85,21,53,78,31,53,69,46
1,86,63,49,59,63,19,52,44,76,93,...,93,50,95,60,73,59,60,97,63,35
2,31,60,22,72,21,2,75,38,3,62,...,90,92,14,90,6,28,68,57,22,48
3,29,54,18,25,70,29,11,23,70,72,...,15,52,47,65,32,8,20,73,38,29
4,25,14,64,21,51,85,75,30,47,95,...,6,85,62,60,33,7,25,87,23,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,35,91,31,63,81,36,82,8,48,96,...,79,83,10,71,42,1,84,99,39,83
197,16,33,19,60,41,32,16,42,82,63,...,98,20,95,1,53,41,10,53,60,98
198,56,79,88,58,71,21,43,11,69,92,...,60,2,93,3,94,6,27,22,15,58
199,4,24,68,5,38,29,69,6,6,58,...,84,69,63,88,20,61,59,4,53,39
200,5,99,33,57,52,26,57,69,44,6,...,11,96,39,95,77,37,80,18,87,77